        Doubly_linked_list.cpp
        Node.cpp
        PropertySheet.props
        listy.vcxproj
        listy.vcxproj.filters
        listy.vcxproj.user
        listy_TemporaryKey.pfx
        packages.config
        pch.cpp
        pch.h
        readme.txt
        x64/
